/* :root { */
/*   --text-color: #ffffff; */
/*   --text-light:  */
/* } */

.headerWrapper {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  padding: 1.9rem 11.6rem 0;
}

.homeLogo {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: var(--text-bold);
}
